* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul,
li {
  list-style: none;
}
a {
  color: #333;
  text-decoration: none;
}
/* 전체 로그인 박스 */
.login-box {
  width: 300px;
  padding: 30px 20px;
  margin: 100px auto;
  background-color: rgb(245, 245, 202);
}
/* 구글 로그인 버튼 */
.google-btn {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
}
/* 구글 로고 */
.logo {
  width: 15%;
  background-color: coral;
}
.logo img {
  /* 이미지 밑에 남는 공간을 채우려면 display : block */
  display: block;
  width: 100%;
}
/* 로그인 메시지 */
.login-txt {
  width: 80%;
  /* background-color: cornflowerblue; */
}
/* 가운데 or 글자 */
.or-text {
  /* margin : 위아래(10px) 좌우(0) */
  margin: 10px 0;
  text-align: center;
}
/* 입력폼 */
.form_wrap {
  /* flex는 부모에게 적용한다. */
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
  /* background-color: aqua; */
}
.form_wrap input {
  padding: 10px;
}
.login-btn {
  padding: 10px;
  background-color: #333;
  color: #fff;
  font-weight: bold;
}
/* 비밀번호 찾기 */
.forgot {
  text-align: center;
  font-size: 14px;
  color: #777;
  margin-top: 5px;
}
